{% extends "base.html" %}

{% block content %}

<h1>Add a Blog Entry</h1>
<form method='POST'>
        
    <label for="title">Title for your new blog</label><br>
    <input type="text" name="title" value="{{title}}"><br>
    <span class="error"><i>{{title_error}}</i></span><br>
        
    <p>
    <label for="body">Your new Blog:</label><br>
    <textarea rows="4" columns="30" name="body" value="{{body}}"></textarea><br>
    <span class="error"><i>{{body_error}}</i></span><br>
    </p>
        
    <input type="submit" value="add entry">
            
</form>

{% endblock %}
